input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit], button[type=button] {
  width: 100%;
  background-color: #040614;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
  input[type=submit]:hover {
    background-color: #040614;
  }
  
div {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  background-color: #092925cb;
  padding: 20px;
}

  div.block {
    max-width: 600px;
    margin: auto;
  }

.link-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.li-nav{
  list-style-type: none;
  margin: 7px;
}

.a-nav{
  text-decoration: none;
  color: white;
  font-size: 1.2em;

}

a.a-nav:hover{
  border-bottom: #040614 4px solid;
  color:black
}