table {
    border-collapse: collapse;
<<<<<<< HEAD
    width: 600px;
=======
    width: 800px;
  }

  th {
    background-color: #040614;
    color: white;
>>>>>>> e08a2789d6bca00197d182f1ca12fc33b1b474d2
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  div.tableI {
    overflow-x: auto;
    max-width: 800px;
    margin: auto;
  }